:root{
    --main-color: #1B0D0A;
    --second-color: #2A221D;
    color: #ccc;
}
ul{
    list-style-type: none;
}
select {
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #333;
  /* appearance: none; */
 } /* Removes default

/*container*/
.container {
    margin: 0 auto;
}

@media (min-width: 768px){
    .container {
       width: 750px;

    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    } 
}
@media (min-width: 1200px) {
    .container {
        width: 1180px;
    } 
}
@media (min-width:600px) {
    p{
        font-size: 24px;
    }
}

.logo{
    width: 120px;
    border-radius: 50%;
}
.logo img{
    max-width: 100%;
}
header{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    /* border-bottom: solid 2px var(--second-color); */
}
.content{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 80pxc);
}
.content .form{
    height: calc(100vh - 80px);
    background-color: var(--main-color);
    width:100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between; 
    flex-grow: 10
}
.content .form p{
    font-size: 20;
    text-align: center;
}
.container .form input{
    width: 60%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 20px;
}
.container .form button{
    border: none;
    outline: none;
    font-size: 20px;
    width: 40%;
    height: 40px;
    border-radius: 5%;
    background-color: var(--second-color);
    color: white;
}
.disable{
    display: none;
}