{% extends 'base.html' %}
{% block body%}

<div class="content container form1">
    <div class=" form form2" style="">
        <p id = 'code' style="user-select: none; display:none;">{{ code }}</p>
        <label for="country">Choose a country:</label>
        <select id="country" name="country">
            <option value="usa">United States</option>
            <!-- <option value="uk">United Kingdom</option>
            <option value="de">Germany</option> -->
        </select>
        <input id = 'first_name' placeholder="first Name" required>
        <input id = 'last_name' placeholder="second Name" required>
        <input id = 'email' placeholder="email" type="email" required>
            <label for="states" style="display: block;">States:</label>
            <select id="states" name="states" style="display: block;">
                <option value="Alabama">Alabama</option>
                <option value="Alaska">Alaska</option>
                <option value="Arizona">Arizona</option>
                <option value="Arkansas">Arkansas</option>
                <option value="California">California</option>
                <option value="Colorado">Colorado</option>
                <option value="Connecticut">Connecticut</option>
                <option value="Delaware">Delaware</option>
                <option value="Florida">Florida</option>
                <option value="Georgia">Georgia</option>
                <option value="Hawaii">Hawaii</option>
                <option value="Idaho">Idaho</option>
                <option value="Illinois">Illinois</option>
                <option value="Indiana">Indiana</option>
                <option value="Iowa">Iowa</option>
                <option value="Kansas">Kansas</option>
                <option value="Kentucky">Kentucky</option>
                <option value="Louisiana">Louisiana</option>
                <option value="Maine">Maine</option>
                <option value="Maryland">Maryland</option>
                <option value="Massachusetts">Massachusetts</option>
                <option value="Michigan">Michigan</option>
                <option value="Minnesota">Minnesota</option>
                <option value="Mississippi">Mississippi</option>
                <option value="Missouri">Missouri</option>
                <option value="Montana">Montana</option>
                <option value="Nebraska">Nebraska</option>
                <option value="Nevada">Nevada</option>
                <option value="New Hampshire">New Hampshire</option>
                <option value="New Jersey">New Jersey</option>
                <option value="New Mexico">New Mexico</option>
                <option value="New York">New York</option>
                <option value="North Carolina">North Carolina</option>
                <option value="North Dakota">North Dakota</option>
                <option value="Ohio">Ohio</option>
                <option value="Oklahoma">Oklahoma</option>
                <option value="Oregon">Oregon</option>
                <option value="Pennsylvania">Pennsylvania</option>
                <option value="Rhode Island">Rhode Island</option>
                <option value="South Carolina">South Carolina</option>
                <option value="South Dakota">South Dakota</option>
                <option value="Tennessee">Tennessee</option>
                <option value="Texas">Texas</option>
                <option value="Utah">Utah</option>
                <option value="Vermont">Vermont</option>
                <option value="Virginia">Virginia</option>
                <option value="Washington">Washington</option>
                <option value="West Virginia">West Virginia</option>
                <option value="Wisconsin">Wisconsin</option>
                <option value="Wyoming">Wyoming</option>
            </select>
            <label for="mobile_carrier" style="display: block;">Mobile Carrier:</label>
            <select id="mobile_carrier" name="mobile_carrier" style="display: block;">
                <option value="verizon">Verizon</option>
                <option value="att">AT&T</option>
                <option value="t-mobile">T-Mobile</option>
                <option value="sprint">Sprint</option>
                <option value="us-cellular">US Cellular</option>
                <option value="boost-mobile">Boost Mobile</option>
                <option value="cricket-wireless">Cricket Wireless</option>
                <option value="metro-by-t-mobile">Metro by T-Mobile</option>
                <option value="tracfone">Tracfone</option>
                <option value="xfinity-mobile">Xfinity Mobile</option>
            </select>
            <button id='regist' onclick="" style="margin: 30px 0;width:100%">التسجيل</button>
            <p id = 'result'></p>
    </div>
</div>
<script src="{{ url_for('static' , filename='regist.js' )}}"></script>

{% endblock %}